{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "require-jsdoc": "off",
    "quotes": "off",
    "object-curly-spacing": "off",
    "space-before-blocks": "off",
    "eol-last": "off",
    "indent": "off",
    "no-trailing-spaces": "off",
    "arrow-parens": "off",
    "padded-blocks": "off",
    "operator-linebreak": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
